In [12]:
import pandas as pd

# Try importing tabula with error handling
try:
    import tabula
    print("tabula-py successfully imported!")
except ImportError as e:
    print("Error: tabula-py is not installed.")
    print("Please run: pip install tabula-py")
    # Exit or raise the error
    raise e

pdf_path = "files_for_lab/nz_water_water_resources.pdf"

# First, let's try to read the PDF with basic parameters
try:
    # Try reading with stream mode first (works better for simple tables)
    tables = tabula.read_pdf(pdf_path, pages=14, stream=True, multiple_tables=True)
    print(f"Successfully extracted {len(tables)} tables using stream mode")
except Exception as e:
    print(f"Stream mode failed: {e}")
    # Try lattice mode (works better for tables with grid lines)
    try:
        tables = tabula.read_pdf(pdf_path, pages=14, lattice=True, multiple_tables=True)
        print(f"Successfully extracted {len(tables)} tables using lattice mode")
    except Exception as e2:
        print(f"Both methods failed: {e2}")
        tables = []

tabula-py successfully imported!
Stream mode failed: `java` command is not found from this Python process.Please ensure Java is installed and PATH is set for `java`
Both methods failed: `java` command is not found from this Python process.Please ensure Java is installed and PATH is set for `java`

In [14]:
import pandas as pd
import tabula

pdf_path = "files_for_lab/nz_water_water_resources.pdf"

# Try different extraction methods
print("Attempting to extract tables...")

# Method 1: Try both lattice and stream
try:
    tables = tabula.read_pdf(pdf_path, pages=14, lattice=True, multiple_tables=True)
    print(f"Lattice mode: Extracted {len(tables)} tables")
except:
    print("Lattice mode failed")

# Method 2: Try stream mode
try:
    tables = tabula.read_pdf(pdf_path, pages=14, stream=True, multiple_tables=True)
    print(f"Stream mode: Extracted {len(tables)} tables")
except Exception as e:
    print(f"Stream mode failed: {e}")

# If you get tables, proceed with your original code
if 'tables' in locals() and len(tables) > 0:
    for i, table in enumerate(tables):
        print(f"\nTable {i+1} preview:")
        print(table.head())

Attempting to extract tables...
Lattice mode failed
Stream mode failed: `java` command is not found from this Python process.Please ensure Java is installed and PATH is set for `java`

In [15]:
import tabula
# This function will print your Java and tabula-py environment info
print(tabula.environment_info())

Python version:
    3.13.3 (tags/v3.13.3:6280bb5, Apr  8 2025, 14:47:33) [MSC v.1943 64 bit (AMD64)]
Java version:
    `java -version` faild. `java` command is not found from this Pythonprocess. Please ensure Java is installed and PATH is set for `java`
tabula-py version: 2.10.0
platform: Windows-11-10.0.26200-SP0
uname:
    uname_result(system='Windows', node='GeoTheLeo', release='11', version='10.0.26200', machine='AMD64')
linux_distribution: ('MSYS_NT-10.0-26200', '3.5.7', '')
mac_ver: ('', ('', '', ''), '')
None

In [ ]:
import pandas as pd
import numpy as np

# ============================================================================
# STEP 1: CREATE DATA STRUCTURE FROM DOCUMENT
# ============================================================================
# Let's grab the data directly from Table 1 (page 14) of the document
# I think it's more reliable than PDF extraction for this specific case

print("="*70)
print("STEP 1: Creating data structure from document Table 1")
print("="*70)

# Define the years
years = list(range(1995, 2011))

# INFLOWS DATA
inflows_data = {
    'Component': ['Precipitation', 'Total inflows'],
    'Category': ['Inflows', 'Inflows'],
    1995: [684986, 684986],
    1996: [701394, 701394],
    1997: [593461, 593461],
    1998: [603264, 603264],
    1999: [645603, 645603],
    2000: [619207, 619207],
    2001: [546821, 546821],
    2002: [614630, 614630],
    2003: [569103, 569103],
    2004: [664433, 664433],
    2005: [565889, 565889],
    2006: [587074, 587074],
    2007: [568843, 568843],
    2008: [551635, 551635],
    2009: [651015, 651015],
    2010: [613510, 613510]
}

# OUTFLOWS DATA
outflows_data = {
    'Component': [
        'Evapotranspiration',
        'Abstraction for hydroelectricity',
        'Discharge from hydroelectricity generation',
        'To sea and net abstraction',
        'Total outflows'
    ],
    'Category': ['Outflows', 'Outflows', 'Outflows', 'Outflows', 'Outflows'],
    1995: [120354, 182049, -182049, 558532, 678886],
    1996: [125088, 184698, -184698, 574722, 699810],
    1997: [122180, 159743, -159743, 476907, 599087],
    1998: [121257, 159216, -159216, 482803, 604060],
    1999: [120588, 164673, -164673, 531872, 652460],
    2000: [119478, 151867, -151867, 498374, 617852],
    2001: [115980, 159661, -159661, 432572, 548553],
    2002: [121657, 140308, -140308, 490035, 611692],
    2003: [118545, 160850, -160850, 457162, 575707],
    2004: [122628, 167244, -167244, 536302, 658931],
    2005: [119220, 170315, -170315, 450462, 569681],
    2006: [117729, 143725, -143725, 469926, 587655],
    2007: [116081, 154558, -154558, 455871, 571952],
    2008: [112415, 143342, -143342, 443190, 555605],
    2009: [118374, 155088, -155088, 529105, 647479],
    2010: [115625, 156329, -156329, 495729, 611354]
}

# CHANGE IN STORAGE DATA
storage_data = {
    'Component': [
        'Soil moisture',
        'Lakes and reservoirs',
        'Groundwater',
        'Snow',
        'Ice',
        'Total change in storage'
    ],
    'Category': ['Change in storage'] * 6,
    1995: [-620, -289, 4220, 1316, 1473, 6100],
    1996: [1838, 264, -1220, 643, 60, 1584],
    1997: [1301, -1676, -2480, -3986, 1214, -5627],
    1998: [-2085, 1714, -830, 1709, -1304, -796],
    1999: [1131, -763, -1810, -1953, -3462, -6857],
    2000: [-610, 2357, 820, 1869, -3082, 1354],
    2001: [41, -3338, 290, 508, 767, -1732],
    2002: [-909, 2124, 2750, 1369, -2396, 2938],
    2003: [845, -761, -4480, -3158, 950, -6604],
    2004: [-1593, 1957, 3060, 1272, 807, 5503],
    2005: [1907, -3336, -3130, -269, 1035, -3793],
    2006: [-462, 91, -440, 1438, -1209, -581],
    2007: [-199, -335, -2200, -47, -327, -3109],
    2008: [-1087, -1184, 520, 398, -2617, -3970],
    2009: [1780, 2836, 2770, -1688, -2163, 3536],
    2010: [-1514, 81, 2890, 945, -245, 2156]
}

# Create DataFrames
df_inflows = pd.DataFrame(inflows_data)
df_outflows = pd.DataFrame(outflows_data)
df_storage = pd.DataFrame(storage_data)

print("\nInflows data created:")
print(df_inflows)
print("\nOutflows data created:")
print(df_outflows)
print("\nStorage data created:")
print(df_storage)

# ============================================================================
# STEP 2: UNION (JOIN) THE TABLES
# ============================================================================

print("\n" + "="*70)
print("STEP 2: Joining all tables together")
print("="*70)

# Add Table Name column to track source (before union)
df_inflows['Table Name'] = 'Inflows'
df_outflows['Table Name'] = 'Outflows'
df_storage['Table Name'] = 'Storage'

# Union all three tables
df_union = pd.concat([df_inflows, df_outflows, df_storage], ignore_index=True)

print(f"\nUnion complete! Combined shape: {df_union.shape}")
print(f"Total rows: {len(df_union)}")
print("\nFirst 10 rows of unioned data:")
print(df_union.head(10))

# ============================================================================
# STEP 3: HIDE (DROP) THE 'Table Name' COLUMN
# ============================================================================

print("\n" + "="*70)
print("STEP 3: Removing 'Table Name' column")
print("="*70)

# Keep a version with Table Name for reference
df_with_table_name = df_union.copy()

# Drop Table Name column
df_cleaned = df_union.drop(columns=['Table Name'])

print(f"\n'Table Name' column removed!")
print(f"New shape: {df_cleaned.shape}")
print("\nColumns remaining:")
print(df_cleaned.columns.tolist())

# ============================================================================
# STEP 4: CLEAN THE DATA
# ============================================================================

print("\n" + "="*70)
print("STEP 4: Cleaning the data")
print("="*70)

# 4a. Check for nulls
print("\nChecking for null values:")
null_counts = df_cleaned.isnull().sum()
print(null_counts[null_counts > 0] if any(null_counts > 0) else "No null values found!")

# 4b. Verify data types
print("\nData types:")
print(df_cleaned.dtypes)

# 4c. Ensure year columns are numeric
year_columns = [col for col in df_cleaned.columns if isinstance(col, int)]
for col in year_columns:
    df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='coerce')

# 4d. Clean text columns (remove extra whitespace)
df_cleaned['Component'] = df_cleaned['Component'].str.strip()
df_cleaned['Category'] = df_cleaned['Category'].str.strip()

# 4e. Sort by Category and Component for better organization
df_cleaned = df_cleaned.sort_values(['Category', 'Component']).reset_index(drop=True)

# 4f. Add metadata
df_cleaned['Unit'] = 'Million cubic metres'
df_cleaned['Country'] = 'New Zealand'
df_cleaned['Source'] = 'Statistics NZ - Water Physical Stock Account 1995-2010'

print("\nData cleaning complete!")
print(f"Final shape: {df_cleaned.shape}")

# ============================================================================
# STEP 5: CREATE ALTERNATIVE FORMATS
# ============================================================================

print("\n" + "="*70)
print("STEP 5: Creating alternative data formats")
print("="*70)

# Wide format (current format - good for viewing)
df_wide = df_cleaned.copy()

# Long format (better for Tableau visualization)
id_vars = ['Component', 'Category', 'Unit', 'Country', 'Source']
df_long = df_wide.melt(
    id_vars=id_vars,
    var_name='Year',
    value_name='Volume'
)

# Clean up long format
df_long['Year'] = pd.to_numeric(df_long['Year'], errors='coerce')
df_long = df_long.dropna(subset=['Year', 'Volume'])
df_long = df_long.sort_values(['Year', 'Category', 'Component']).reset_index(drop=True)

print("\nLong format created:")
print(f"Shape: {df_long.shape}")
print("\nSample of long format:")
print(df_long.head(15))

# ============================================================================
# STEP 6: DATA QUALITY CHECKS
# ============================================================================

print("\n" + "="*70)
print("STEP 6: Data quality checks")
print("="*70)

# Check for duplicates
duplicates = df_long[df_long.duplicated(subset=['Component', 'Year'], keep=False)]
if len(duplicates) > 0:
    print(f"\nWARNING: Found {len(duplicates)} duplicate rows")
    print(duplicates)
else:
    print("\nNo duplicate rows found")

# Check value ranges
print("\nValue statistics:")
print(df_long['Volume'].describe())

# Check for missing years
expected_years = set(range(1995, 2011))
actual_years = set(df_long['Year'].unique())
missing_years = expected_years - actual_years
if missing_years:
    print(f"\nWARNING: Missing years: {missing_years}")
else:
    print("\nAll years present (1995-2010)")

# Check categories
print("\nCategories found:")
print(df_long['Category'].value_counts())

print("\nComponents found:")
print(df_long['Component'].value_counts())

# ============================================================================
# STEP 7: SAVE TABLEAU-READY FILES
# ============================================================================

print("\n" + "="*70)
print("STEP 7: Saving Tableau-ready files")
print("="*70)

# Save wide format
df_wide.to_excel('nz_water_data_wide.xlsx', sheet_name='Water_Data', index=False)
df_wide.to_csv('nz_water_data_wide.csv', index=False)

# Save long format (RECOMMENDED FOR TABLEAU)
df_long.to_excel('nz_water_data_long.xlsx', sheet_name='Water_Data_Long', index=False)
df_long.to_csv('nz_water_data_long.csv', index=False)

# Save version with Table Name for reference
df_with_table_name.to_excel('nz_water_data_with_source.xlsx', sheet_name='With_Source', index=False)

print("\nFiles saved successfully!")
print("\nGenerated files:")
print("  1. nz_water_data_wide.xlsx (Wide format - years as columns)")
print("  2. nz_water_data_wide.csv")
print("  3. nz_water_data_long.xlsx (Long format - RECOMMENDED FOR TABLEAU)")
print("  4. nz_water_data_long.csv")
print("  5. nz_water_data_with_source.xlsx (With Table Name for reference)")

# ============================================================================
# STEP 8: SUMMARY REPORT
# ============================================================================

print("\n" + "="*70)
print("SUMMARY REPORT")
print("="*70)

print(f"""
Data Processing Complete!

WIDE FORMAT:
   - Rows: {df_wide.shape[0]}
   - Columns: {df_wide.shape[1]}
   - Format: Years as columns (good for spreadsheet viewing)
   
LONG FORMAT (Recommended for Tableau):
   - Rows: {df_long.shape[0]}
   - Columns: {df_long.shape[1]}
   - Format: One row per Component-Year combination
   - Time range: {int(df_long['Year'].min())} - {int(df_long['Year'].max())}
   
Data Quality:
   - Null values: {df_long.isnull().sum().sum()}
   - Duplicates: {len(duplicates)}
   - Categories: {df_long['Category'].nunique()}
   - Components: {df_long['Component'].nunique()}
   - Years covered: {len(df_long['Year'].unique())}

NEXT STEPS:
   1. Open Tableau Desktop
   2. Connect to Data > Microsoft Excel (or Text file)
   3. Select: nz_water_data_long.xlsx  <- USE THIS ONE
   4. Start creating visualizations!
""")

print("="*70)
print("Script execution complete!")
print("="*70)

======================================================================
STEP 1: Creating data structure from document Table 1
======================================================================

Inflows data created:
       Component Category    1995    1996    1997    1998    1999    2000  \
0  Precipitation  Inflows  684986  701394  593461  603264  645603  619207
1  Total inflows  Inflows  684986  701394  593461  603264  645603  619207

     2001    2002    2003    2004    2005    2006    2007    2008    2009  \
0  546821  614630  569103  664433  565889  587074  568843  551635  651015
1  546821  614630  569103  664433  565889  587074  568843  551635  651015

     2010
0  613510
1  613510

Outflows data created:
                                    Component  Category    1995    1996  \
0                          Evapotranspiration  Outflows  120354  125088
1            Abstraction for hydroelectricity  Outflows  182049  184698
2  Discharge from hydroelectricity generation  Outflows -182049 -184698
3                  To sea and net abstraction  Outflows  558532  574722
4                              Total outflows  Outflows  678886  699810

     1997    1998    1999    2000    2001    2002    2003    2004    2005  \
0  122180  121257  120588  119478  115980  121657  118545  122628  119220
1  159743  159216  164673  151867  159661  140308  160850  167244  170315
2 -159743 -159216 -164673 -151867 -159661 -140308 -160850 -167244 -170315
3  476907  482803  531872  498374  432572  490035  457162  536302  450462
4  599087  604060  652460  617852  548553  611692  575707  658931  569681

     2006    2007    2008    2009    2010
0  117729  116081  112415  118374  115625
1  143725  154558  143342  155088  156329
2 -143725 -154558 -143342 -155088 -156329
3  469926  455871  443190  529105  495729
4  587655  571952  555605  647479  611354

Storage data created:
                 Component           Category  1995  1996  1997  1998  1999  \
0            Soil moisture  Change in storage  -620  1838  1301 -2085  1131
1     Lakes and reservoirs  Change in storage  -289   264 -1676  1714  -763
2              Groundwater  Change in storage  4220 -1220 -2480  -830 -1810
3                     Snow  Change in storage  1316   643 -3986  1709 -1953
4                      Ice  Change in storage  1473    60  1214 -1304 -3462
5  Total change in storage  Change in storage  6100  1584 -5627  -796 -6857

   2000  2001  2002  2003  2004  2005  2006  2007  2008  2009  2010
0  -610    41  -909   845 -1593  1907  -462  -199 -1087  1780 -1514
1  2357 -3338  2124  -761  1957 -3336    91  -335 -1184  2836    81
2   820   290  2750 -4480  3060 -3130  -440 -2200   520  2770  2890
3  1869   508  1369 -3158  1272  -269  1438   -47   398 -1688   945
4 -3082   767 -2396   950   807  1035 -1209  -327 -2617 -2163  -245
5  1354 -1732  2938 -6604  5503 -3793  -581 -3109 -3970  3536  2156

======================================================================
STEP 2: Joining all tables together
======================================================================

Union complete! Combined shape: (13, 19)
Total rows: 13

First 10 rows of unioned data:
                                    Component           Category    1995  \
0                               Precipitation            Inflows  684986
1                               Total inflows            Inflows  684986
2                          Evapotranspiration           Outflows  120354
3            Abstraction for hydroelectricity           Outflows  182049
4  Discharge from hydroelectricity generation           Outflows -182049
5                  To sea and net abstraction           Outflows  558532
6                              Total outflows           Outflows  678886
7                               Soil moisture  Change in storage    -620
8                        Lakes and reservoirs  Change in storage    -289
9                                 Groundwater  Change in storage    4220

     1996    1997    1998    1999    2000    2001    2002    2003    2004  \
0  701394  593461  603264  645603  619207  546821  614630  569103  664433
1  701394  593461  603264  645603  619207  546821  614630  569103  664433
2  125088  122180  121257  120588  119478  115980  121657  118545  122628
3  184698  159743  159216  164673  151867  159661  140308  160850  167244
4 -184698 -159743 -159216 -164673 -151867 -159661 -140308 -160850 -167244
5  574722  476907  482803  531872  498374  432572  490035  457162  536302
6  699810  599087  604060  652460  617852  548553  611692  575707  658931
7    1838    1301   -2085    1131    -610      41    -909     845   -1593
8     264   -1676    1714    -763    2357   -3338    2124    -761    1957
9   -1220   -2480    -830   -1810     820     290    2750   -4480    3060

     2005    2006    2007    2008    2009    2010 Table Name
0  565889  587074  568843  551635  651015  613510    Inflows
1  565889  587074  568843  551635  651015  613510    Inflows
2  119220  117729  116081  112415  118374  115625   Outflows
3  170315  143725  154558  143342  155088  156329   Outflows
4 -170315 -143725 -154558 -143342 -155088 -156329   Outflows
5  450462  469926  455871  443190  529105  495729   Outflows
6  569681  587655  571952  555605  647479  611354   Outflows
7    1907    -462    -199   -1087    1780   -1514    Storage
8   -3336      91    -335   -1184    2836      81    Storage
9   -3130    -440   -2200     520    2770    2890    Storage

======================================================================
STEP 3: Removing 'Table Name' column
======================================================================

'Table Name' column removed!
New shape: (13, 18)

Columns remaining:
['Component', 'Category', 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010]

======================================================================
STEP 4: Cleaning the data
======================================================================

Checking for null values:
No null values found!

Data types:
Component    object
Category     object
1995          int64
1996          int64
1997          int64
1998          int64
1999          int64
2000          int64
2001          int64
2002          int64
2003          int64
2004          int64
2005          int64
2006          int64
2007          int64
2008          int64
2009          int64
2010          int64
dtype: object

Data cleaning complete!
Final shape: (13, 21)

======================================================================
STEP 5: Creating alternative data formats
======================================================================

Long format created:
Shape: (208, 7)

Sample of long format:
                                     Component           Category  \
0                                  Groundwater  Change in storage
1                                          Ice  Change in storage
2                         Lakes and reservoirs  Change in storage
3                                         Snow  Change in storage
4                                Soil moisture  Change in storage
5                      Total change in storage  Change in storage
6                                Precipitation            Inflows
7                                Total inflows            Inflows
8             Abstraction for hydroelectricity           Outflows
9   Discharge from hydroelectricity generation           Outflows
10                          Evapotranspiration           Outflows
11                  To sea and net abstraction           Outflows
12                              Total outflows           Outflows
13                                 Groundwater  Change in storage
14                                         Ice  Change in storage

                    Unit      Country  \
0   Million cubic metres  New Zealand
1   Million cubic metres  New Zealand
2   Million cubic metres  New Zealand
3   Million cubic metres  New Zealand
4   Million cubic metres  New Zealand
5   Million cubic metres  New Zealand
6   Million cubic metres  New Zealand
7   Million cubic metres  New Zealand
8   Million cubic metres  New Zealand
9   Million cubic metres  New Zealand
10  Million cubic metres  New Zealand
11  Million cubic metres  New Zealand
12  Million cubic metres  New Zealand
13  Million cubic metres  New Zealand
14  Million cubic metres  New Zealand

                                               Source  Year  Volume
0   Statistics NZ - Water Physical Stock Account 1...  1995    4220
1   Statistics NZ - Water Physical Stock Account 1...  1995    1473
2   Statistics NZ - Water Physical Stock Account 1...  1995    -289
3   Statistics NZ - Water Physical Stock Account 1...  1995    1316
4   Statistics NZ - Water Physical Stock Account 1...  1995    -620
5   Statistics NZ - Water Physical Stock Account 1...  1995    6100
6   Statistics NZ - Water Physical Stock Account 1...  1995  684986
7   Statistics NZ - Water Physical Stock Account 1...  1995  684986
8   Statistics NZ - Water Physical Stock Account 1...  1995  182049
9   Statistics NZ - Water Physical Stock Account 1...  1995 -182049
10  Statistics NZ - Water Physical Stock Account 1...  1995  120354
11  Statistics NZ - Water Physical Stock Account 1...  1995  558532
12  Statistics NZ - Water Physical Stock Account 1...  1995  678886
13  Statistics NZ - Water Physical Stock Account 1...  1996   -1220
14  Statistics NZ - Water Physical Stock Account 1...  1996      60

======================================================================
STEP 6: Data quality checks
======================================================================

No duplicate rows found

Value statistics:
count       208.000000
mean     188093.596154
std      274936.020489
min     -184698.000000
25%        -761.500000
50%        2803.000000
75%      529796.750000
max      701394.000000
Name: Volume, dtype: float64

All years present (1995-2010)

Categories found:
Category
Change in storage    96
Outflows             80
Inflows              32
Name: count, dtype: int64

Components found:
Component
Groundwater                                   16
Ice                                           16
Lakes and reservoirs                          16
Snow                                          16
Soil moisture                                 16
Total change in storage                       16
Precipitation                                 16
Total inflows                                 16
Abstraction for hydroelectricity              16
Discharge from hydroelectricity generation    16
Evapotranspiration                            16
To sea and net abstraction                    16
Total outflows                                16
Name: count, dtype: int64

======================================================================
STEP 7: Saving Tableau-ready files
======================================================================

Files saved successfully!

Generated files:
  1. nz_water_data_wide.xlsx (Wide format - years as columns)
  2. nz_water_data_wide.csv
  3. nz_water_data_long.xlsx (Long format - RECOMMENDED FOR TABLEAU)
  4. nz_water_data_long.csv
  5. nz_water_data_with_source.xlsx (With Table Name for reference)

======================================================================
SUMMARY REPORT
======================================================================

Data Processing Complete!

WIDE FORMAT:
   - Rows: 13
   - Columns: 21
   - Format: Years as columns (good for spreadsheet viewing)

LONG FORMAT (Recommended for Tableau):
   - Rows: 208
   - Columns: 7
   - Format: One row per Component-Year combination
   - Time range: 1995 - 2010

Data Quality:
   - Null values: 0
   - Duplicates: 0
   - Categories: 3
   - Components: 13
   - Years covered: 16

NEXT STEPS:
   1. Open Tableau Desktop
   2. Connect to Data > Microsoft Excel (or Text file)
   3. Select: nz_water_data_long.xlsx  <- USE THIS ONE
   4. Start creating visualizations!

======================================================================
Script execution complete!
======================================================================